@import "../variables/colours.module.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tableContainer {
  width: 90%;
  height: 100%;
  font-size: small;
  border-spacing: 0;
}

.tableHeader {
  text-align: left;
}

.tableBody {
  .tableRow:nth-child(odd) {
    background-color: grey;
  }

  .tableRow {
    height: 30px;
  }

  td {
    padding: 0px;
  }
}

.pageBtnWrapper {
  display: flex;
  width: 80%;
  justify-content: center;
}

.pageBtn {
  background-color: $Accent-colour;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  cursor: pointer;
  font-size: small;
  border: none;
}

//Change the colour of the page button
.activePage {
  background-color: #007bff;
  color: white;
}

//! Base style for status columns */
.statusCell {
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
}

//! Status-specific styles */
.claimedStatus {
  @extend .statusCell;
  background-color: #22a03f; // green
}

.unclaimedStatus {
  @extend .statusCell;
  background-color: #f1aa0f; // yellow
}

.tocollectStatus {
  @extend .statusCell;
  background-color: #27dbcc; // cyan
}

.expiredStatus {
  @extend .statusCell;
  background-color: #ff0000; // red
}

.openStatus {
  @extend .statusCell;
  background-color: #28a745; // green (for open)
}

.closedStatus {
  @extend .statusCell;
  background-color: #dc3545; // red (for closed)
}
