@import "../variables/colours.module.scss";
@import "../variables/breakpoints.module.scss";

.statBubble {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bubbleIcon {
  fill: $primary-text-colour;
  width: 25%;
  padding: 1%;
}

.statDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.statTitle {
  font-size: 20px;
}

.closed {
  fill: $claimed-colour;
}

.open {
  fill: $expired-colour;
}

.total {
  fill: $unclaimed-colour;
}

.returned {
  fill: $claimed-colour;
}

.lost {
  fill: $unclaimed-colour;
}

.toCollect {
  fill: $tocollect-colour;
}

@media (max-width: $breakpoint-xxl) {
  .statBubble {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bubbleIcon {
    fill: $primary-text-colour;
    width: 25%;
    padding: 2%;
  }

  .statDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 1%;
  }
  .statTitle {
    font-size: 16px;
  }
  .closed {
    fill: $claimed-colour;
  }

  .open {
    fill: $expired-colour;
  }

  .total {
    fill: $unclaimed-colour;
  }

  .returned {
    fill: $claimed-colour;
  }

  .lost {
    fill: $unclaimed-colour;
  }

  .toCollect {
    fill: $tocollect-colour;
  }
}

@media (max-width: $breakpoint-lg) {
  .statBubble {
    flex-direction: column;
    width: 50%;
  }

  .bubbleIcon {
    width: 100%;
  }

  .statTitle {
    font-size: 12px;
  }
}

@media (max-width: $breakpoint-md) {
  .statBubble {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .statsWrapper {
    width: 100px;
    height: 100%;
  }

  .bubbleIcon {
    width: 60%;
    padding: 15%;
  }

  .statTitle {
    font-size: 10px;
  }

  .statDescription {
    align-items: center;
  }
}

@media (max-width: $breakpoint-sm) {
  .statBubble {
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bubbleIcon {
    width: 60%;
    padding: 15%;
  }

  .statTitle {
    font-size: 10px;
  }

  .statDescription {
    align-items: center;
  }
}
