@import "../variables/colours.module.scss";
@import "../variables/breakpoints.module.scss";

.statBubble {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.bubbleIcon {
  fill: $primary-text-colour;
  width: 35%;
  padding: 5%;
}

.statDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statTitle {
  font-size: 24px;
}

.closed {
  fill: $claimed-colour;
}

.open {
  fill: $expired-colour;
}

.total {
  fill: $unclaimed-colour;
}

.returned {
  fill: $claimed-colour;
}

.lost {
  fill: $unclaimed-colour;
}

.toCollect {
  fill: $tocollect-colour;
}

@media (max-width: $breakpoint-lg) {
  .statBubble {
    flex-direction: column;
    width: 50%;
  }

  .bubbleIcon {
    width: 100%;
  }

  .statTitle {
    font-size: 18px;
  }
}

@media (max-width: $breakpoint-md) {
  .statBubble {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .statsWrapper {
    width: 100px;
    height: 100%;
  }

  .bubbleIcon {
    width: 60%;
    padding: 15%;
  }

  .statTitle {
    font-size: 14px;
  }

  .statDescription {
    align-items: center;
  }
}

@media (max-width: $breakpoint-sm) {
  .statBubble {
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bubbleIcon {
    width: 60%;
    padding: 15%;
  }

  .statTitle {
    font-size: 14px;
  }

  .statDescription {
    align-items: center;
  }
}
