@import "./variables/colours.module.scss";

.navbarContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 250px;
  background-color: $primary-bg-colour;
}

.navLinkWrapper {
  display: flex;
  flex-direction: column;
}

.navLink {
  padding: 10px 16px;
  margin: 10px;
  border-radius: 25px;
  background-color: $Accent-colour;
  text-align: center;
}
