.navbarContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: lightgray;
  border-right: 2px solid black;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 250px;
}
