.searchbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchbarWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.searchParamBtn {
  width: 10%;
  height: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.dropdownMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 9%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  border-top-left-radius: 15px;

  div {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
      border-top-left-radius: 15px;
    }
  }
}

.searchInput {
  padding: 10px;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #ccc;
}
