.searchbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0% 0% 1% 0%;
}

.searchbarWrapper {
  display: flex;
  align-items: center;
  background-color: grey;
  width: 95%;
  border-radius: 25px;
  padding: 1%;
}

.inputCol {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 20%;
  height: 100%;
  margin: 1%;
}

.inputBar {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin: 2%;
  padding: 16px 8px;
}

.searchBtn {
  width: 50%;
  padding: 16px 8px;
  font-size: 16px;
}

.dateBar {
  display: flex;
}
