@import "../variables/colours.module.scss";

.dashboardContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
}

.leftBox {
  flex: 2;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  height: 100%;
}

.rightBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.box {
  background-color: $tiertiary-bg-colour;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 800px;
  margin: 20px;
}

.bubbleBox {
  background-color: $tiertiary-bg-colour;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 20px;
  max-width: 550px;
  max-height: 400px;
}

.bottomBox {
  display: flex;
  min-height: 700px;
}
