@import "../variables/colours.module.scss";

.itemsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .statsWrapper {
    min-height: 250px;
    max-height: 250px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 2%;

    .statBubble {
      height: 200px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25%;
      background-color: $tiertiary-bg-colour;
      border: 1px solid gray;
    }
  }

  .searchBar_NewItemBtn {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemTable {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.itemsLost {
  background-color: $unclaimed-colour;
}

.itemsReturned {
  background-color: $claimed-colour;
}

.itemsExpired {
  background-color: $expired-colour;
}

.bubbleIcon {
  fill: $primary-text-colour;
}
