// Primary Colors
$primary-colour: #009a44;
$secondary-colour: #003865;
$accent-colour: #ffd700;

// Text Colors
$primary-text-colour: #333333;
$secondary-text-colour: #666666;

$claimed-colour: #22a03f;
$unclaimed-colour: #f1aa0f;
$expired-colour: #ff0000;
$tocollect-colour: #27dbcc;

// Background Colors
$primary-bg-colour: #1a2224;
$secondary-bg-colour: #f0f0f0;
$tiertiary-bg-colour: #ffffff;

// Button Colors
$button-bg-colour: #222d31;
$button-text-colour: #ffffff;
$button-hover-bg-colour: #009a44;

// Link Colors
$link-colour: #007acc;
$link-hover-colour: #005b84;

// Borders/Dividers
$border-colour: #d1d1d1;

// Footer Colors
$footer-bg-colour: #003865;
$footer-text-colour: #ffffff;

// Form Input Colors
$form-input-bg-colour: #ffffff;
$form-input-border-colour: #e8e8e8;

:export {
  claimedColour: #22a03f;
  unclaimedColour: #f1aa0f;
  expiredColour: #ff0000;
  tocollectColour: #27dbcc;
}
